<%= simple_form_for ([@school,@grade]) , html: { class: "form-inline" } do |f| %>
<% if @grade.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

  <ul>
    <% @grade.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :level_id , "Nivel"%><br>
  <%= f.association :level, label: false, input_html: {class: "chosen-select col-md-12"} %>
</div>

<div class="field">
  <label>Letra</label>
  <%= f.input :letra, :label => false, collection: 'A'..'Z', input_html: {class: 'form-control'}, :include_blank => "Sin Letra"%>
</div>

<div class="field">
  <label>Año</label>
  <%= f.input :year, :label => false, collection: 2015..2025, selected: DateTime.now.year, input_html: {class: 'form-control'} %>
</div>

<div class="actions">
  <%= f.submit "Enviar"%>
</div>
<% end %>

