<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box col-sm-12 col-md-12 col-lg-12">
				<div class="box-header">
					<div class="pull-right">
                      <%= link_to 'Editar Enunciado General', edit_group_question_path(@group_question), remote: true, class: 'btn btn-info' %>
					</div>
					<h3 class="box-title">Preguntas asociadas</h3>
				</div>
				<div class="box-body">
					<p>
					  	<strong>Enunciado general</strong>
					  	<%= sanitize(@group_question.statement) %>
					</p>					
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="manage-questions" class="box col-sm-12 col-md-12 col-lg-12">
				<div id="newQuestion">
					<div class="box-header">
                      <%= link_to 'Click para agregar preguntas existentes', add_existing_group_question_path(@group_question), remote: true, class: 'btn btn-default pull-right'%>
						<h3 class="box-title">Agregar pregunta al grupo actual</h3>
					</div>
					<div class="box-body">
						<%= render 'questions/form' %> 
					</div>	
				</div>
				<div class="row">
					<div class="col-md-12">
						<h4>Preguntas asociadas a este grupo</h4>
						<div class="table-responsive existingQuestionsTable" style="overflow-x: auto">
							<table id="presentQuestions" class='presentQuestions table table-bordered table-condensed' >
							    <thead>
							      <tr>
							        <th>Quitar?</th>
							        <th>Enunciado</th>
							        <th>Asignatura</th>
							        <th>Nivel</th>
							        <th>Unidad</th>
							        <th>Pregunta de grupo Id</th>
							      </tr>
							    </thead>
							    <tbody>
							    	<%- @group_question.questions.each do |q| %>
							    		<%- if q && !q.try(:id).nil? %>
							    			<%= render 'group_questions/add_question_partial', question: q %>
							    		<% end -%>
							    	<% end -%>
							    </tbody>
							</table>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<%#= link_to 'Edit', edit_group_question_path(@group_question) %> |
<%#= link_to 'Back', group_questions_path %>
