<%= simple_form_for(@user) do |f| %>
<div class="field">
  <label>Nombre</label>
  <%= f.input :first_name, :label => false, input_html: {class: 'form-control'} %>
</div>
<div class="field">
  <label>Apellido</label>
  <%= f.input :second_name, :label => false, input_html: {class: 'form-control'} %>
</div>
<div class="field">
  <label>Email</label>
  <%= f.input :email, :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="field">
  <label>Teléfono</label>
  <%= f.input :tel, :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="field">
  <label>Rol</label>
  <%= f.association :user_type, collection: UserType.where(:role => 'admin'), :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="field">
  <label>Contraseña</label>
  <%= f.input :password, :label => false, input_html: {class: 'form-control'} %>
</div>
<div class="field">
  <label>Confirmar contraseña</label>
  <%= f.input :password_confirmation, :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="actions">
  <%= f.button :submit , 'Enviar'%>
</div>
<% end %>
