<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box col-sm-12 col-md-12 col-lg-12">
        <div class="box-header">
          <h3 class="box-title">Resultados evaluación N°<%=@instrument.id%></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <ul class="nav nav-tabs">
            <li role="presentation" class='active'><a href="<%= results_proccess_instrument_path(@proccess_instrument)%>">Portada</a></li>
            <li role="presentation" ><a href="<%= results_grade_proccess_instrument_path(@proccess_instrument) %>">Resultado curso</a></li>
            <li role="presentation"><a href="<%= results_report_proccess_instrument_path(@proccess_instrument) %>">Informe Web</a></li>
            <li role="presentation"><a href="<%= results_report_pdf_proccess_instrument_path(@proccess_instrument) %>">Informe PDF</a></li>
          </ul>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          En esta zona puedes ver que informes tienes disponibles y revisarlos en tiempo real.

        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>