<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @feedback.order %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @feedback.comentario %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
