<div class='col-md-12'>&nbsp;</div>
<div class='col-md-12' style='text-align: right;'><h4>Total Alumnos Rendidos <%=@asistencia%></h4></div>
<% chart_id = "chart_oa_pme"+i.to_s %>
<div class='col-md-12'>&nbsp;</div>
<h3>OAs en <%= ac[0][:nombre_pme]%></h3>
<div class='col-md-12'>
  <table class='table table-pdf table-condensed table-bordered'>
    <thead>
      <th class='text-center'>Habilidad PME</th>
      <th class='text-center'>OA Numero</th>
      <th class='text-center'>Cantidad preguntas</th>
      <th class='text-center'>Promedio resp correctas</th>
    </thead>
    <tbody>
      <% @hab_oa[i].each_with_index do |aa,i| %>
        <tr>
          <td><%= aa[:nombre_pme] %></td>
          <td><%= aa[:nombre_contenido] %></td>
          <td class='text-center'><%= aa[:cantidad_preguntas] %></td>
          <td class='text-center'><%= aa[:porcentaje] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class='col-md-12'>
  <table class='table table-pdf table-condensed table-bordered'>
    <thead>
      <th class='text-center'>Habilidad PME</th>
      <th class='text-center'>OA Numero</th>
      <th class='text-center'>Cantidad preguntas</th>
      <th class='text-center'>Promedio resp correctas</th>
    </thead>
    <tbody>
      <% @hab_oa_2[i].each_with_index do |aa,i| %>
        <tr>
          <td><%= aa[:nombre_pme] %></td>
          <td><%= aa[:nombre_contenido] %></td>
          <td class='text-center'><%= aa[:cantidad_preguntas] %></td>
          <td class='text-center'><%= aa[:porcentaje] %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id= <%=chart_id%> class='col-md-12'style="min-width: 1125px; margin: 0 auto"></div>
<div id= <%=chart_id%>+'_2' class='col-md-12'style="min-width: 1125px; margin: 0 auto"></div>
<!--Grafico OAs por habilidad-->
<script type='text/javascript'>
  chartBarContentsGenerator({ 
    container: "<%="#"+chart_id%>", 
    title: { text: "Objetivos de Aprendizaje" }, 
                            subtitle: { text: "Asignatura "+ <%= @instrument.evaluation.assignature.nombre.inspect.html_safe %> }, 
                            }, { 
                            labels: <%= @hab_oa[i].map{|pme| pme[:nombre_contenido]}.inspect.html_safe %>,
                            series: { data: <%= @hab_oa[i].map{|pme| {y: pme[:porcentaje], color: @chart_colors[i]}}.to_json.html_safe %> }
                            });  
</script>
<script type='text/javascript'>
  chartBarContentsGenerator({ 
    container: "<%="#"+chart_id%>", 
    title: { text: "Objetivos de Aprendizaje" }, 
                            subtitle: { text: "Asignatura "+ <%= @instrument.evaluation.assignature.nombre.inspect.html_safe %> }, 
                            }, { 
                            labels: <%= @hab_oa_2[i].map{|pme| pme[:nombre_contenido]}.inspect.html_safe %>,
                            series: { data: <%= @hab_oa_2[i].map{|pme| {y: pme[:porcentaje], color: @chart_colors[i]}}.to_json.html_safe %> }
                            });  
</script>
<div class='col-md-12 text-center'>
  <h5 style='font-size: 20px;'>OA <span style='color:green;'>mejor</span> logrado fue: <b><%= @hab_oa[i].sort_by{|pme| pme[:porcentaje] }.last[:nombre_contenido] %></b> con <%= @hab_oa[i].sort_by{|pme| pme[:porcentaje] }.last[:porcentaje] %>%</h5>
</div>
<div class='col-md-12 text-center pb_after'>
  <h5 style='font-size: 20px;'>OA <span style='color: red;'>menos</span> logrado: <b><%= @hab_oa[i].sort_by{|pme| pme[:porcentaje] }.first[:nombre_contenido] %></b> con un <%= @hab_oa[i].sort_by{|pme| pme[:porcentaje] }.first[:porcentaje] %>%</h5>
</div>