<p>
  <strong>Axis:</strong>
  <%= @axes_content.axis %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @axes_content.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @axes_content.descripcion %>
</p>

<%= link_to 'Edit', edit_axes_content_path(@axes_content) %> |
<%= link_to 'Back', axes_contents_path %>
