<%= simple_form_for(@fact_status) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :order %>
    <%= f.association :fact_status_type %>
    <%= f.input :comentario %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
