<%= simple_form_for (@bloom_ability) do |f| %>
<%= f.error_notification %>

<div class="field">
  <label>Nombre</label>
  <%= f.input :nombre, :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="field">
  <label>Descripcion</label>
  <%= f.input :descripcion, :label => false, input_html: {class: 'form-control'} %>
</div>

<div class="actions">
  <%= f.button :submit , 'Enviar'%>
</div>

<% end %>
